<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <%= image_tag("webfu.png", class: "icon" ) %>
    </div>
    <div class="col-md-4 icon">
       <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search">

      </div>
    </div>
    <div class="col-md-offset-1 col-md-2">
      <%= image_tag("nav_bar.png", class: "icon") %>
    </div>
  </div>
  <div class="row base-bar">
    <div class="col-md-offset-1  col-md-2">
      <p>Health A-Z</p>
    </div>
    <div class="col-md-2">
      <p>Drugs & Supplements</p>
    </div>
    <div class="col-md-2">
      <p>Living Healthy</p>
    </div>
    <div class="col-md-2">
      <p>Family & Pregnancy</p>
    </div>
    <div class="col-md-2">
      <p>News & Experts</p>
    </div>
    <div class="col-md-1">
      <%= image_tag("social_media.png", class: "small") %>
    </div>

  </div>
</div>
